{% extends "tictactoe/base.html" %}

{% block title %}
    {{ game }}
{% endblock %}

{% block styling %}
    {{ block.super }}
    <style type="text/css">
        .tictactoe-table {
            width: 300px;
            border-width: 2px;
        }

        .tictactoe-cell {
            background-color: #debb27;
            width: 100px;
            height: 100px;
            text-align: center;
            vertical-align: middle !important;
            font-size: 60px;
        }

    </style>
{% endblock styling %}

{% block content %}
    <h1>This is the game detail page for {{ game }}</h1>
    <div class="row">
        <div class="col-md-5">

            {% if game.status == "F" %}
                {{ game.first_player }} to move
            {% elif game.status == "S" %}
                {{ game.second_player }} to move
            {% elif game.status == "W" %}
                {{ game.first_player }} won
            {% elif game.status == "S" %}
                {{ game.second_player }} won
            {% elif game.status == "D" %}
                Draw
            {% endif %}

            <table class="table table-bordered tictactoe-table">
                {% for row in game.board %}
                    <tr>
                        {% for move in row %}
                            <td class="tictactoe-cell">
                                {% if move %}
                                    {% if move.by_first_player %}
                                        X
                                    {% else %}
                                        O
                                    {% endif %}
                                {% endif %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </table>
        </div>

        {% if form %}

            <div class="col-md-5">
                <h3>It's your move</h3>
                <form method="POST" action="{% url 'gameplay_make_move' game.id %}">
                    {{ form }}
                    {% csrf_token %}

                    <button type="submit">Make move</button>
                </form>
            </div>

        {% endif %}
    </div>
{% endblock %}


